<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Заполнение формы</title>
  <style>
    .form_for_form {
          display: grid;
         justify-content: center; /* Центрирование по горизонтали */
         align-items: center;    /* Центрирование по вертикали */
         height: 60vh;          /* Высота вьюпорта */
         margin: 0;
    }
    body {
         background: #E5FFFF;
    }
  </style>
</head>
<body>
  <form class="form_for_form" action="#" method="post">
    <div>
      <label>{{error}}</label>
    </div>
    <div>
      <label>Введите ваше ФИО</label>
    </div>
    <div>
      <input type="text" name="fio" id="fio" placeholder="Ваше ФИО">
    </div>
    <div>
      <label>Введите вашу должность</label>
    </div>
    <div>
      <input type="text" name="post" id="post" placeholder="Ваша должность">
    </div>
    <div>
      <label>Введите название мероприятия</label>
    </div>
    <div>
      <input type="text" name="event" id="event" placeholder="Название музея, театра и т.п">
    </div>
    <div>
      <label>Введите номер и букву класса</label>
    </div>
    <div>
      <input type="text" name="sch_class" id="sch_class" placeholder="Номер и буква класса">
    </div>
    <div>
      <label>Введите количество участников</label>
    </div>
    <div>
      <input type="number" name="quantity" id="quantity" placeholder="Количество">
    </div>
    <div>
      <label>Введите дату проведения</label>
    </div>
    <div>
      <input type="text" name="when_go" id="when_go" placeholder="Дата">
    </div>
    <div>
      <label>Введите место и адрес проведения</label>
    </div>
    <div>
      <input type="text" name="place" id="place" placeholder="Место, адрес">
    </div>
    <div>
      <label>Время отъезда</label>
    </div>
    <div>
      <input type="text" name="time_go" id="time_go" placeholder="Время отъезда">
    </div>
    <div>
      <label>Время прибытия</label>
    </div>
    <div>
      <input type="text" name="time_ar" id="time_ar" placeholder="Время прибытия">
    </div>
    <div>
      <label>Сегодняшняя дата</label>
    </div>
    <div>
      <input type="text" name="time_now" id="time_now" placeholder="Сегодняшняя дата">
    </div>
    <div>
      <label>ФИО участников</label>
    </div>
    <div>
      <input type="text" name="people" id="people" placeholder="Участники (через запятую)">
    </div>
    <button formmethod="post" type="submit" name="send_info_submit">Отправить</button>
  </form>
</body>
</html>