<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Start</title>
  <style>
    .border_rounded{
    border: 2px outset black;
    background-color: #E5FFFF;
    width: 500px;
    height: 300px;
    bottom: 20px;
    position: relative;
    top: 20%;
    left: 10%;
    margin: 0;
    }
  </style>
</head>
<body>
  <form method="post">
    <div>{{link}}</div>
    <div>
      <button formmethod="post" type="submit" name="make_form">Создать заявку</button>
    </div>
  <h1>Ваши заявки</h1>
  {% for item in info%}
  <div class="border_rounded">
    <h2>{{item.event}} <button formmethod="post" type="submit" name="del{{item.id}}">Удалить</button></h2>
    <div>{{item.fio}}</div>
    <div>{{item.post}}</div>
    <div>{{item.event}}</div>
    <div>{{item.sch_class}}</div>
    <div>{{item.quantity}} </div>
    <div>{{item.when_go}}</div>
    <div>{{item.place}} </div>
    <div>{{item.time_go}}</div>
    <div>{{item.time_ar}}</div>
    <div>{{item.time_now}}</div>
    <div>{{item.people}}</div>

  </div>
  {% endfor %}
  </form>
</body>
</html>